<!DOCTYPE html>
<html>
  <head>
    <title>GTRDN</title>

    <meta charset="utf-8" /> 

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <link id="stylelink" rel="stylesheet" href="../styles/nightnewstyle.css">
    <link id="stylelink" rel="stylesheet" href="../styles/aplication_style.css">
    <link id="stylelink" rel="stylesheet" href="/styles/toggle.css">
    <link rel="icon" href="images/LOGO.png" type="image/x-icon">
    
    <script src="../engine.js" ></script>    
</head>
 

  <body>
        <div id="background">   </div>
        
        <div class="top_bar">
            <div id="intro" class="intro">
                <header style="text-align: center;">
                    <h1 id="main_head" class="display-3" ><a href="../MAINBootstrap.html">Guitarist's den</a></h1>
                </header>
            </div>
            <div id="navigation" class="navigation"  >
                
                <nav class="container-fluid">
<div class="row">
    <div class="col-4 justify-content-start" style="text-align: start;">
        <div class="p-2 navitem" >
            <small id="visitors">Visitors </small>
        </div>
    </div>
    <div class="col-4 justify-content-center">
                        <div class="navitem " >
                            <h6><a  class="nav-link" href='../MAINBootstrap.html' style="color: rgb(214, 214, 214);" style="padding-left:0;padding-right:0;">Back Home</a></h6>
                      </div>
                        

    </div>
            <div class="col-4 justify-content-end">
                    


                    <div class="navitem">
                    <h6 class="nav-link" style="padding-left:0;">Dark theme</h6>
                    </div>
                    <div class="navitem">
                        <div id="theme_changer" class="switch_box box_3">
                            <div class="toggle_switch">
                                <input type="checkbox" class="switch_3">
                                <svg class="checkbox" xmlns="http://www.w3.org/2000/svg" style="isolation:isolate" viewBox="0 0 168 80">
                                <path class="outer-ring" d="M41.534 9h88.932c17.51 0 31.724 13.658 31.724 30.482 0 16.823-14.215 30.48-31.724 30.48H41.534c-17.51 0-31.724-13.657-31.724-30.48C9.81 22.658 24.025 9 41.534 9z" fill="none" stroke="#233043" stroke-width="3" stroke-linecap="square" stroke-miterlimit="3"/>
                                <path class="is_checked" d="M17 39.482c0-12.694 10.306-23 23-23s23 10.306 23 23-10.306 23-23 23-23-10.306-23-23z"/>
                                    <path class="is_unchecked" d="M132.77 22.348c7.705 10.695 5.286 25.617-5.417 33.327-2.567 1.85-5.38 3.116-8.288 3.812 7.977 5.03 18.54 5.024 26.668-.83 10.695-7.706 13.122-22.634 5.418-33.33-5.855-8.127-15.88-11.474-25.04-9.23 2.538 1.582 4.806 3.676 6.66 6.25z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
            </div>
                    <script>
                        var theme=1;
                        var link = document.getElementById('stylelink');
                        
                        document.getElementById('theme_changer').addEventListener('click',()=>ChangeTheme());
                        function ChangeTheme(){ 
                            if(theme==2){
                                link.setAttribute('href','../styles/nightnewstyle.css');
                                theme=1;
                            }else
                            if(theme==1){
                                link.setAttribute("href", '../styles/daynewstyle.css');
                                theme=2;  
                            }
                        }
                        </script>
    </div> 
                </nav>

                
            </div>
        </div>
        

        <div id="base" class="row container-fluid base" >
      
            <div class="col-2 ">
            <div class="row container ">
                <div id="SignInBlock" class="container-fluid float_panel">
                    
                    <form id="SignInForm"  onsubmit="validateLoginForm(event)" method="POST" action="../php/login.php" >
                        <div class="form-group">
                            <label>Log-in</label>
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username" onkeypress='validateLogin(event,"SignInForm",name)'>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="password" name="password" placeholder="Password" onkeypress='validatePassword(event,"SignInForm","password")'>
                        </div>

                        <div class="form-group">
                            <input id="sbutton" type="submit" class="form-control btn btn-secondary w-50" style="font-size:1em; align-self:center;" value="sign in" >
                        </div>

                    </form>

                    <p ><a id="regiatration" href="/layouts/Registration.html" style="font-size: 0.7em; cursor: pointer;"  >Registration</a></p>
                </div>
                <div id="CurrentUserBlock" class="container-fluid float_panel">
                    <h3 id="currusername"></h3>
                    <form action="../php/signout.php">
                        <button type="submit" class="form-control btn btn-secondary" >Sign out</button>
                    </form>
                </div>
            </div>

            <div class="row container ">
                <div id="contacts" class="container-fluid float_panel">
                    <p>Contacts</p>
                    <img id="sun2" src="../images/LOGOonlySunlights.png"  style="width:15em; height:15em;" title="click!" style="cursor: help;" onclick="SunClick()">
                    <img id="sun" src="../images/LOGOonlySUN.png" style="width:15em; height:15em;" title="click!" style="cursor: help;">
                    <script>
                    //style="width:15em; height:15em;"
                    let anim=20;
                    function SunClick(){
                        if(anim>1){
                            --anim;
                        }else{
                            if(anim>0.2){
                                anim-=0.1;
                            }else
                            if(anim>0.02){
                                anim-=0.01;
                            }else anim=20;
                        }
                        const sunlight=document.getElementById('sun2');
                        sunlight.style="animation:spin " + anim + "s linear infinite;width:15em; height:15em;";
                    }
                    </script>
                    <div>
                        Boichuk Ivan
                    </div>
                    <div>
                        
                            <img class="inst" src="../images/inst2.png" width="20" height="20" alt="inst">
                        
                        <a id="clickit" class="inst" href="https://www.instagram.com/lvasuk/" target="_blank"  style="color: rgb(214, 214, 214);">@lvasuk</a>
                    </div>
                </div>
            </div>
                
               
            </div>
                                     
            <!-- <div id="main" class="main"> -->  
             <div class="col-8 main">
            <canvas id="myCanvas1" width="200" height="200" style="border:0px solid #000000;" >
            </canvas>
            <canvas id="myCanvas2" width="200" height="200" style="border:0px solid #000000;" >
            </canvas>
            <canvas id="myCanvas3" width="200" height="200" style="border:0px solid #000000;" >
            </canvas>
            <canvas id="myCanvas4" width="200" height="200" style="border:0px solid #000000;" >
            </canvas>
            
            <script>
            
                DrarCircle("myCanvas1","RED","DONT","PUSH!")
                DrarCircle("myCanvas2","green","STOP","ANIME")
                DrarCircle("myCanvas3","yellow","MAKE SUN","!!CRAZY!!")
                DrarCircle("myCanvas4","pink","MAKE","DISCO")

                $("#myCanvas1").click(()=>{Collapse();});
                $("#myCanvas2").click(()=>{StopAnimation();});
                $("#myCanvas3").mousedown(()=>{CrazySun();});
                $("#myCanvas4").dblclick(()=>{DISCO()});
                $("#myCanvas4").mouseup(()=>{DISCO()});

                //console.log($("#log_in").html())
                //$("#username").val("Hello WORLD")

                function DrarCircle(CanvasName,collor,textUp,textNOTUP){
                    c = document.getElementById(CanvasName);
                    ctx = c.getContext("2d");

                    var grd = ctx.createRadialGradient(100, 100, 44, 100, 100, 60);
                    grd.addColorStop(0, collor);
                    grd.addColorStop(1, "rgba(0, 0, 0, 0)" );

                    // Fill with gradient
                    ctx.fillStyle = grd;
                    ctx.fillRect(0, 0, 200, 200);

                    ctx.beginPath();
                    ctx.arc(100, 100, 50, 0, 2 * Math.PI);
                    ctx.stroke();
                // Create gradient

                ctx.font = "25px Verdana";

                    ctx.strokeText(textUp, 60, 95);
                    ctx.strokeText(textNOTUP, 60, 120);
                }
                function Collapse(){
                    $("*").hide();
                }

                function StopAnimation(){
                    //$("*").finish()
                    $("*").stop(true,true)
                }
                function CrazySun(){
                    $( "#sun2" ).slideToggle( "slow", CrazySun )
                    $( "#sun" ).toggle("fast", CrazySun )
                }
                function DISCO(){
                    let hear = document.getElementById('disco');
                    hear.play();
                    $( "a" ).toggle("fast", DISCO)
                    $( "tr" ).toggle("slow", DISCO)
                    $( "h2" ).slideToggle("fast", DISCO)
                    $( "img" ).toggle(1000, DISCO)
                    //$( "h1" ).toggle("slow", DISCO)
                    $( "p" ).toggle("fast", DISCO)
                    $( "h1" ).slideToggle("fast", DISCO)
                    $( "#background" ).slideToggle("fast", DISCO)
                    $( "ul" ).toggle("fast", DISCO)
                    
                    $( "button" ).toggle("fast", DISCO)
                    $( "h6" ).slideToggle("fast", DISCO)
                    $( "h5" ).slideToggle("fast", DISCO)
                    $( "input" ).slideToggle("fast", DISCO)
                    
                }
            </script> 

            <div id="songs_items_conteiner_div">
            </div>
            
            <div id="div1"></div>
            <div id="div2"></div>

            <button id="btnnn" class="btn btn-success">Get Pricol</button>
            <button id="btnnn2" class="btn btn-dark">Get Pricol 2 </button>

            <br>
            <hr>
            <hr>
            <br>
            <input id="loxname" type="text" placeholder="lucky">
            <button id="btnnn4" class="btn btn-primary">^^0 make happy </button>
            <br>
            <hr>
            <hr>
            <br>
            <input id="numb1" type="text" style="width: 50px;"> + <input id="numb2" type="text" style="width: 50px;"> = <small id="numb3"></small>
            <button id="btnnn5" class="btn btn-warning">calculate</button>
            <br>
            <hr>
            <hr>
            <br>
            
            
            
            <script>

                $("#btnnn").click(function(){
                $("#div1").load("../php/getpricol.php" );
                });

                $("#btnnn2").click(function(){
                    $.post("../php/getpricol.php", 
                    function(response){
                        alert(response);
                    })
                });    
     
                
               

                $("#btnnn4").click(function() {
                    let name= document.getElementById("loxname").value;
                    $.ajax({
                        url: '../php/action.php?name='+name,
                        success: function(response)
                        {
                           alert(response)
                        }
                });
                });

                $("#btnnn5").click(function(){


                    var numb2=document.getElementById("numb2").value;
                    var numb1=document.getElementById("numb1").value;
                    
                    let data = JSON.stringify({
                    number1: numb1 ,
                    number2: numb2
                    });

                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "../php/action2.php", true);
                    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                    xhr.send(data);


                    xhr.onerror = function() { 
                    alert("ERROR!!");
                    };
                    xhr.onload = function() {
                        if (xhr.status != 200) { 
                            alert(`Помилка: ${xhr.status}: ${xhr.statusText}`); 
                        } else { 
                            document.getElementById("numb3").innerHTML=xhr.response

                        }
                    };
                    
                    
                })

            </script>    
            
            
            <br>
                <H2>HARDMIND FILM</H2>
                <canvas id="myFilm" width="800" height="200" style="border:2px solid #000000; ">
                </canvas>
                <input id="speedd" type="text" style="width: 50px; background-color: grey;">
                <button class="btn btn-primary" onclick="RunFilm()" >PLAY</button>
                <H2>GISTOGRAMA</H2>
                <canvas id="histo" width="800" height="200" style="border:0px solid #000000; background-color: rgba(65, 65, 65, 0.356);" onclick="BuildGisto()" >
                </canvas>
                <button class="btn btn-danger" onclick="Clerhist()" >CLEAR</button>
                <script>
                    function Clerhist(){
                        ClearCanvas(document.getElementById("histo"))
                    }
                    function BuildGisto(){
                        let canvas = document.getElementById("histo");
                        let ctx = canvas.getContext("2d");
                        let step=10;
                        let flag=1;
                        let color="black"
                        for(let x=step+20;x<canvas.width-20;x+=step){
                            if(flag==1){
                                color="black"
                                DrawFillColorRect(ctx,x,10,step,getRandomInt(canvas.height),color)
                                flag=0
                            }
                            else
                            {
                                color="white"
                                DrawFillColorRect(ctx,x,10,step,getRandomInt(canvas.height),color)
                                flag=1
                            }
                        }
                        step=10
                        // OX 
                        ctx.beginPath();
                        ctx.moveTo(20,10);
                        ctx.lineTo(20,200);

                        for(let y=step;y<canvas.height;y+=step){
                            
                            ctx.moveTo(20, y);
                            ctx.lineTo(25, y);
                            ctx.strokeStyle="red"
                            ctx.stroke();

                            ctx.font = "10px Arial";
                            fillStyle="black"
                            ctx.fillText(y, 0, y+10);
                        }
                        ctx.beginPath();
                        ctx.moveTo(15,190);
                        ctx.lineTo(25,190);
                        ctx.lineTo(20,200);
                        ctx.fillStyle="red"
                        ctx.fill();

                        //OY 
                        ctx.beginPath();
                        ctx.moveTo(20,10);
                        ctx.lineTo(800,10);
                        let xindx=1;
                        for(let x=step+25;x<canvas.width-10;x+=step,++xindx){
                            
                            ctx.moveTo(x, 10);
                            ctx.lineTo(x, 15);
                            ctx.strokeStyle="red"
                            ctx.stroke();

                            ctx.font = "7px Arial";
                            ctx.fillStyle="black"
                            ctx.fillText(xindx, x, 8);
                        }
                        ctx.beginPath();
                        ctx.moveTo(790,5);
                        ctx.lineTo(790,15);
                        ctx.lineTo(800,10);
                        ctx.fillStyle="red"
                        ctx.fill();
                    }

                    function getRandomInt(max) {
                        return Math.floor(Math.random() * Math.floor(max));
                    }

                    function RunFilm(){
                        Play($("#speedd").val());
                    }

                    async function Play(fps){
                        let canvas = document.getElementById("myFilm");
                        let ctx = canvas.getContext("2d");
                        
                        let position_Circle_x=30;
                        const position_Circle_y=50;
                        const RectRadius=30;

                        let position_Rect_x=0;
                        const position_Rect_Y=80;
                        const RectWidth=60;
                        const RectHight=120;

                        step=canvas.width/fps;
                        console.log(step)
                        while(position_Circle_x < 770 && position_Rect_x < 770){
                            DrawFillColorRect(ctx,0,0,canvas.width,canvas.height/2,"rgb(12, 191, 204)")
                            DrawFillColorRect(ctx,0,canvas.height/2,canvas.width,canvas.height/2,"green")
                            
                            DrawFillColorRect(ctx,position_Rect_x,position_Rect_Y,RectWidth,RectHight,"black")

                            DrawFillColorCircle(ctx,position_Circle_x,position_Circle_y,RectRadius,"black")
                            DrawFillColorHalfCircle(ctx,position_Circle_x,position_Circle_y,RectRadius,"brown")
                            
                            await sleep(50);

                            position_Circle_x+=step;
                            position_Rect_x+=step
                            //ClearCanvas(canvas)
                        }
                        DrawFillColorRect(ctx,0,0,canvas.width,canvas.height/2,"black")
                        DrawFillColorRect(ctx,0,canvas.height/2,canvas.width,canvas.height/2,"red")
                        ctx.fillStyle = "white"
                        ctx.font = "50px Verdana";
                        ctx.fillStyle = "white";
                        ctx.fillText("THE END?? OR THE BEGINNING??", 0, canvas.height/2+20);
                        await sleep(5000);
                        ClearCanvas(canvas)
                    }
                    function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                    }
                    function DrawFillColorRect(ctx,x,y,w,h,color){
                        ctx.fillStyle = color;
                        ctx.fillRect(x,y,w,h);
                    }
                    function DrawFillColorCircle(ctx,x,y,r,color){
                        ctx.fillStyle = color;
                        ctx.beginPath();
                        ctx.arc(x, y, r, 0, 2 * Math.PI);
                        ctx.fill()
                        ctx.stroke();
                    }
                    function DrawFillColorHalfCircle(ctx,x,y,r,color){
                        ctx.fillStyle = color;
                        ctx.beginPath();
                        ctx.arc(x, y, r, 0, 1 * Math.PI);
                        ctx.fill()
                        ctx.stroke();
                    }
                    function DrawFillColorQuartCircle(ctx,x,y,r,color){
                        ctx.fillStyle = color;
                        ctx.beginPath();
                        ctx.arc(x, y, r,  0, 0.5*Math.PI);
                        ctx.fill()
                        ctx.stroke();
                    }
                    function ClearCanvas(canvas){
                        const context = canvas.getContext('2d');
                        context.clearRect(0, 0, canvas.width, canvas.height);
                    }
                </script>
                <br>
                <div id="footer">
                    <footer>IVASUK | <del>VALERY</del> | 2020</footer>
                </div>
            </div>

        
            </div>
           
            <div class="col-2">
    </div>
     

    <audio id="disco" src="../disco_light.mp3">
        ERROR
    </audio>
    
    
    <script>
       
        $(".base").css("margin-top",$(".top_bar").height())
        $("#background").css("margin-top", ($(".top_bar").outerHeight()-1)  )
        $(document).ready(function(){
            SetConfig()
                    $.ajax({
                        url: '../php/countusers.php',
                        success: function(response)
                        {
                            console.log(response)
                            document.getElementById("visitors").innerHTML="Visitors : "+response;
                        }
                    });
        });
    </script>
  </body>
</html>
